<% if(user.name=="admin"){ %>
    <%- include header %>
<% }else{ %>
    <%- include anotherHeader %>
<% } %>

		<h1>一人千面<span>李梦仪</span></h1>
		<p>昔日的玫瑰仅存芳名，陪伴我们的只有赤裸的名字</p>
    </div>
    <!-- header end -->
	<div id="content">
    	<div class="contContainer clearfix">
            <div class="contentLeft">
                <div class="ability">
                    <h3 class="title">技能</h3>
                    <div class="complete">
                        <h2 id="headingH">HTML</h2>
                        <canvas id="canvasH" width="365px" height="34px"></canvas>
                    </div>
                    <div class="complete">
                        <h2 id="headingH5">HTML5:</h2>
                        <canvas id="canvasH5" width="365px" height="34px"></canvas>
                    </div>
                    <div class="complete">
                        <h2 id="headingC">CSS:</h2>
                        <canvas id="canvasC" width="365px" height="34px"></canvas>
                    </div>
                    <div class="complete">
                        <h2 id="headingC3">CSS3:</h2>
                        <canvas id="canvasC3" width="365px" height="34px"></canvas>
                    </div>
                    <div class="complete">
                        <h2 id="headingJS">JavaScript:</h2>
                        <canvas id="canvasJS" width="365px" height="34px"></canvas>
                    </div>
                    <div class="complete">
                        <h2 id="headingJQ">JQuery:</h2>
                        <canvas id="canvasJQ" width="365px" height="34px"></canvas>
                    </div>
                </div>
                <div class="experience">
                    <h3 class="title">经验</h3>
                    <ul>
                        <li>学校工作室：我家菜市电商网站（类似淘宝）</li>
                        <li>个人网站：</li>
                        <li>。。。</li>
                    </ul>
                </div>
            </div>
            <div class="contentRight">

                <% if (success) { %>
                  <div><%= success %></div>
                <% } %>
                <% if (error) { %>
                  <div><%= error %> </div>
                <% } %> 

                <div>
                    <form action="/search" method="GET">
                        <input type="text" name="keyword" placeholder="SEARCH" class="search" />
                    </form>
                </div>

    		    <h3 class="title">文章列表</h3>
                <div class="articleClassify">
                    <p>文章分类:</p>      
                    <div>                   
                       <% tags.forEach(function (tag, index) { %>
                        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                    <% }) %>
                    </div>
                </div>
                <ul>
                    <% var lastYear = 0 %>
                    <% posts.forEach(function (post, index) { %>
                      <% if (lastYear != post.time.year) { %>
                        <p class="postYear"><%= post.time.year %></p>
                      <% lastYear = post.time.year } %>
                        <li>
                            <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
                            <span><%= post.time.minute %></span>
                            
                        </li>
                    <% }) %>
                </ul>
    		</div>
            <a href="javascript:;" id="button" title="回到顶部"></a>
<%- include footer %>