<%- include contentHeader %>
	</div>
  	<div class="content">
	  	<div class="newContent">
	  		<ul>
                <% var lastYear = 0 %>
                <% posts.forEach(function (post, index) { %>
                    <% if (lastYear != post.time.year) { %>
                    <p class="postYear"><%= post.time.year %></p>
                    <% lastYear = post.time.year } %>
                    <li>
                        <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
                        <span><%= post.time.minute %></span>
                    </li>
                <% }) %>
            </ul>
	  	</div>
  	</div>
<%- include footer %>